<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuchen.mapper.IconMapper">
    <insert id="insertIcon">
        insert into t_iot_icon(industry_id,icon_status,icon_byte)
            value(#{industryId},#{iconStatus},#{in})
    </insert>

    <select id="getIconStream" parameterType="string" resultType="object">
        select icon_byte from t_iot_icon
        where id = #{id}
    </select>

    <insert id="insertIcons" parameterType="list">
        insert into t_iot_icon(industry_id,icon_address,upload_status,icon_status,icon_byte,icon_type)
        values
         <foreach collection="list" separator="," index="index" item="item">
             (#{item.industryId},null,0,#{item.iconStatus},null,#{item.iconType})
         </foreach>

    </insert>
</mapper>